.btn-primary{
    background-color: #1f2232;
        color: #c6d8ff;
        border-color: #c6d8ff;
        font-weight: 700;
    
    font-size: small;
    display: inline;
    float: right;
    margin: 3px;
}

.btn-primary:hover{
    background-color: white;
    color: #1f2232;
    border-color: #1f2232;
}

.material-icons{
    width: 30px;
    font-size: 30px;
    display: flex;
    float: right;
    cursor: pointer;
    }


