.btn-primary{
    background-color: #F1FFC4;
    border-radius: 10px;
    border-color: #E3E7Af;
    color: #679289;
    font-weight: 700;
    font-size: small;
    display: inline;
    float: right;
    margin: 3px;
}

.btn-primary:hover{
    background-color:#679289 ;
    border-color: #E3E7Af;
}

.material-icons{
    width: 30px;
    font-size: 30px;
    display: flex;
    float: right;
}