.btn {
  color: white;
  border: 0;
  cursor: pointer;
  padding: 0.5em 1.25em;
  background: linear-gradient(90deg, #52b0ee, rgb(16, 206, 165), #07af5b);
  background-size: 300%;
  background-position: left;
  transition: background-position 350ms;
}

.btn:hover {
  background-color: white;
  color: #1f2232;
  border-color: #1f2232;
  background-position: right;
  color: white;
  border: 0;
  cursor: pointer;
  padding: 0.5em 1.25em;
  background: linear-gradient(90deg, #098ab1, rgb(13, 184, 118), #177ea7);
  background-size: 300%;
  background-position: left;
  transition: background-position 350ms;
  background-position: right;
}

.custom-bg {
  background-color: white;
  /* background-image: linear-gradient(315deg, #8ae9b3 0%, #c8d6e5 74%); */
}
.card {
  margin: 5px;
}

.card-title {
  margin: 10px;
}

.container h1 {
  font-size: large;
  font-weight: 900;
}

.card-status {
  color: #355834;
  font-weight: 900;
  font-size: large;
}

.card-reason {
  color: #8ae9b3;
  font-weight: 900;
}

.container span {
  color: #355834;
  font-weight: 1000;
}
