.btn {
  height: relative;
  border: none;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 1.5em;
  font-weight: 500;
  color: white;
  border: 0;
  cursor: pointer;
  padding: 0.5em 1.25em;
  background: linear-gradient(90deg, #183cdf, #0a66a3, #183cdf);
  background-size: 300%;
  background-position: left;
  transition: background-position 350ms;
  margin-bottom: 50px;
}

.btn:hover {
  background-color: #145586;
  background-position: right;
}

.custom-bg {
  background-image: linear-gradient(315deg, #8ae9b3 0%, #c8d6e5 74%);
  color: #1f2232;
}

.tomorrow {
  display: flex;
  position: bottom;
  padding: 0px;
  margin-top: 50px;
  text-align: center;
}
