.bg-success{
  color: var(--bs-indigo);
}

.Logo {
  padding: 2rem;
  color: red;
  text-align: center;
  height: 300px;
}

.btn{
  background-color: #1F2232;
  color: #C6D8FF; 
  border-color: #C6D8FF;
}

.btn:hover{
  background-color: white;
  color: var(--bs-indigo);
  border-color: var(--bs-indigo);
}
