.custom-button {
    background-color: #1f2232;
    color: #c6d8ff;
  border-color: #c6d8ff;
    
    font-weight: 900;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    /* background-color: #1f2232;
    color: #c6d8ff;
    border-color: #c6d8ff;
    font-weight: 700; */
}

.custom-button:hover {
    background-color: white;
    color: #1f2232;
    border-color: #1f2232;
}

.mapboxgl-popup-content {
    font-size: 15px;
    text-align: center;
}
.mapboxgl-popup-content strong {
    font-size: 20px;
}

.mapboxgl-popup-content p {
    margin: 10px 0;
  }