text_color {
  color: var(--bs-indigo);
}

.btn {
  background-color: #1f2232;
  color: #c6d8ff;
  border-color: #c6d8ff;
  font-weight: 700;
}

.btn:hover {
  background-color: white;
  color: #1f2232;
  border-color: #1f2232;
}

.custom-bg{
    background-image: linear-gradient(315deg, #8ae9b3 0%, #c8d6e5 74%);
    color: #1F2232;
  }

/* make a text center */
/* add div class 'text-center' */
