/* General CSS */

@font-face {
  font-family: BtnFont;
  src: url(/fonts/DMSans-BoldItalic.ttf);
}

@font-face {
  font-family: Font2;
  src: url(/fonts/DMSans-Bold.ttf);
}

body, html{
  font-family: font2;

}
h1 {
  text-align: center;
  font-size: clamp(20px, 6vw, 50px);
  color: #5189C6;
}

.btn {
  font-family: BtnFont;
  color: white;
  border: 0;
  cursor: pointer;
  padding: 0.5em 1.25em;
  background: linear-gradient(90deg, #52b0ee, rgb(16, 206, 165), #07af5b);
  background-size: 300%;
  background-position: left;
  transition: background-position 350ms;
  margin-top: 20px;
  border-radius: 10px;
}

.btn:hover {
  background-color: white;
  color: #1f2232;
  border-color: #1f2232;
  background-position: right;
  color: white;
  border: 0;
  cursor: pointer;
  padding: 0.5em 1.25em;
  background: linear-gradient(90deg, #098ab1, rgb(13, 184, 118), #177ea7);
  background-size: 300%;
  background-position: left;
  transition: background-position 350ms;
  background-position: right;
}

.custom-bg {
  background: url(/images/background2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.custom-bg-2 {
  background-image: linear-gradient(315deg, #f9ea8f 0%, #aff1da 74%);
}

/* index.html */
.Logo {
  padding: 2rem;
  color: red;
  text-align: center;
  height: 300px;
}

/* login.html */
.firebaseui-container {
  background-color: aliceblue;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: rgba(16, 218, 154, 0.87);
  direction: ltr;
  font: 16px Roboto, arial, sans-serif;
  margin: 20px auto;
  max-width: 360px;
  /** This is needed for the invisible reCAPTCHA badge to show. */
  overflow: visible;
  position: relative;
  text-align: left;
  width: 100%;
}

/* home.html */
.tomorrow {
  display: flex;
  position: sticky;
  padding: 0px;
  margin-top: 30px;
}

.title-word {
  font-family: font2;
  animation: color-animation 7s linear infinite;
  --color-1: #0a5bc5;
  --color-2: #11916a;
  --color-3: #15a3a8;
}

@keyframes color-animation {
  0% {
    color: var(--color-1);
  }

  20% {
    color: var(--color-1);
  }

  40% {
    color: var(--color-2);
  }

  60% {
    color: var(--color-2);
  }

  70% {
    color: var(--color-3);
  }

  80% {
    color: var(--color-3);
  }

  100% {
    color: var(--color-1);
  }
}

/* Here are just some visual styles. 🖌 */

.container {
  place-items: center;
  text-align: center;
  padding: 0px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.title {
  font-weight: 600px;
  font-size: 7vh;
  text-transform: uppercase;
}

/* map.html */
.custom-button {
  font-family: BtnFont;
  color: white;
  border: 0;
  cursor: pointer;
  padding: 0.5em 1.25em;
  background: linear-gradient(90deg, #52b0ee, rgb(16, 206, 165), #07af5b);
  background-size: 300%;
  background-position: left;
  transition: background-position 350ms;
  margin-top: 20px;
  border-radius: 10px;
}

.custom-button:hover {
  background-color: white;
  color: #1f2232;
  border-color: #1f2232;
  background-position: right;
  color: white;
  border: 0;
  cursor: pointer;
  padding: 0.5em 1.25em;
  background: linear-gradient(90deg, #098ab1, rgb(13, 184, 118), #177ea7);
  background-size: 300%;
  background-position: left;
  transition: background-position 350ms;
  background-position: right;
}

.mapboxgl-popup-content {
  background-image: linear-gradient(315deg, #f9ea8f 0%, #aff1da 74%);
  font-size: 15px;
  text-align: center;
  border: 2px solid white;
}

.mapboxgl-popup-content strong {
  font-size: 10px;
  font-size: 1.5em;
}

.mapboxgl-popup-content p {
  margin: 15px;
}

/* eachStore.html */
.store-btn {
  font-family: BtnFont;
  color: white;
  border: 0;
  cursor: pointer;
  padding: 0.5em 1.25em;
  background: linear-gradient(90deg, #52b0ee, rgb(16, 206, 165), #07af5b);
  background-size: 300%;
  background-position: left;
  transition: background-position 350ms;
  float: right;
  margin: 3px;
}

.store-btn:hover {
  background-color: white;
  color: #1f2232;
  border-color: #1f2232;
  background-position: right;
  color: white;
  border: 0;
  cursor: pointer;
  padding: 0.5em 1.25em;
  background: linear-gradient(90deg, #098ab1, rgb(13, 184, 118), #177ea7);
  background-size: 300%;
  background-position: left;
  transition: background-position 350ms;
  background-position: right;
}

.material-icons {
  width: 30px;
  font-size: 30px;
  display: flex;
  float: right;
  cursor: pointer;
}

/* aboutUs.html */
.member-pics {
  max-width: 250px;
  max-height: 250px;
}

/* favorite.html */

.title-fav{
  text-transform: uppercase;
  padding: 2px;
  color: #0a5bc5;
}

.card {
  margin: 5px;
}

.card-title {
  font-family: font2;
  margin: 10px;
  color: #0a5bc5;
}

.card-status {
  text-transform: uppercase;
  font-family: font2;
  color: #219e09;
  font-size: 5px;
  font-size: 2em;
}

.card-reason {
  font-family: font2;
  color: rgba(12, 12, 14, 0.87);
  font-size: 10px;
  font-size: 2em;
}

.card-location {
  font-family: Font2;
  color: rgba(12, 12, 14, 0.87);
  font-size: 16px;
}

/* profile.html */
.form-field {
  width: 90%;
  background-color: #edf6ffbb;
  padding: 1em;
  margin: 1em;
  border-radius: 15px;
}

#profile-title {
  font-family: font2;
  text-transform: uppercase;
  margin: 10px;
  color: #0a5bc5;
}

label {
  width: 100%;
  text-align: left;
  font-family: Font2;
}

.button {
  grid-area: button;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#edit-button {
  font-family: BtnFont;
  width: 50%;
  color: white;
  border: 0;
  cursor: pointer;
  padding: 0.5em 1.25em;
  background: linear-gradient(90deg, #52b0ee, rgb(16, 206, 165), #07af5b);
  background-size: 300%;
  background-position: left;
  transition: background-position 350ms;
  border-radius: 5px;
}

#edit-button:hover {
  background-color: white;
  color: #1f2232;
  border-color: #1f2232;
  background-position: right;
  color: white;
  border: 0;
  cursor: pointer;
  padding: 0.5em 1.25em;
  background: linear-gradient(90deg, #098ab1, rgb(13, 184, 118), #177ea7);
  background-size: 300%;
  background-position: left;
  transition: background-position 350ms;
  background-position: right;
}

#edit-button:active {
  background-color: #b9732f;
  color: #ffffff;
}

#save-button {
  font-family: BtnFont;
  width: 50%;
  color: white;
  border: 0;
  cursor: pointer;
  padding: 0.5em 1.25em;
  background: linear-gradient(90deg, #52b0ee, rgb(16, 206, 165), #07af5b);
  background-size: 300%;
  background-position: left;
  transition: background-position 350ms;
  border-radius: 5px;
}

#save-button:hover {
  background-color: white;
  color: #1f2232;
  border-color: #1f2232;
  background-position: right;
  color: white;
  border: 0;
  cursor: pointer;
  padding: 0.5em 1.25em;
  background: linear-gradient(90deg, #098ab1, rgb(13, 184, 118), #177ea7);
  background-size: 300%;
  background-position: left;
  transition: background-position 350ms;
  background-position: right;
}

#save-button:active {
  background-color: #b9732f;
  color: #ffffff;
}

#profile-container {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border: solid 2px #177ea7;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mypic-goes-here {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
