.title-word {
  animation: color-animation 7s linear infinite;
}

.title-word-1 {
  --color-1: #0a5bc5;
  --color-2: #11916a;
  --color-3: #15a3a8;
}

.title-word-2 {
  --color-1: #0a5bc5;
  --color-2: #11916a;
  --color-3: #15a3a8;
}

.title-word-3 {
  --color-1: #0a5bc5;
  --color-2: #11916a;
  --color-3: #15a3a8;
}

.title-word-4 {
  --color-1: #0a5bc5;
  --color-2: #11916a;
  --color-3: #15a3a8;
}

.title-word-5 {
  --color-1: #0a5bc5;
  --color-2: #11916a;
  --color-3: #15a3a8;
}

@keyframes color-animation {
  0% {
    color: var(--color-1);
  }
  20% {
    color: var(--color-1);
  }
  40% {
    color: var(--color-2);
  }
  60% {
    color: var(--color-2);
  }
  70% {
    color: var(--color-3);
  }
  80% {
    color: var(--color-3);
  }
  100% {
    color: var(--color-1);
  }
}

/* Here are just some visual styles. 🖌 */

.container {
  place-items: center;
  text-align: center;
  padding: 0px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, sans-serif;
  font-weight: 600;
  font-size: 7vh;
  text-transform: uppercase;
}
